node_modules/
.next/
.turbo/
out/
.env
.env*.local
dist/
build/
coverage/
*.log
.DS_Store
Thumbs.db
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel/
.idea/
.vscode/
next-env.d.ts
.pnpm-store/
*.local
*.swp
*.swo
*.tmp
*.cache
